/** Common **/

body {
  font-family: monospace, sans-serif;
  background-color: black;
}

.font-primary {
  color: rgb(115, 115, 170);
}

.title-icon {
  color: lightgray !important;
  font-size: 20px;
  font-weight: bold;
}
p {
  font-size: 14px;
  color: rgb(115, 115, 170);
}

h2 {
  color: lightgray;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}

a.font-black {
  color: rgb(115, 115, 170) !important;
}
/** About **/

#about {
  margin: 60px auto;
  max-width: 400px;
  text-align: center;
}

#about img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

#about .name {
  font-size: 25px;
  color: lightgray;
  font-weight: 800;
}

#about .vocation {
  font-size: 20px;
  color: rgb(115, 115, 170);
  margin-bottom: 10px;
}

#about .skills {
  color: lightgray;
  font-size: 14px;
  margin-bottom: 10px;
}

#about .email {
  color: lightgray !important;
  margin-top: 14px;
  font-size: 15px;
}

#about .icons {
  margin-top: 20px;
  font-size: 30px;
}
#about .icons a {
  color: rgb(115, 115, 170);
}

/** Project **/

#project {
  background-color: lightgray;
  margin: 60px auto;
  width: 80%;
}

#project h2 {
  text-align: center;
}

#project .card img {
  width: 110%;
  height: 80%;
}

#project .card-title {
  font-weight: bold;
}

.proj {
  color: rgb(115, 115, 170) !important;
}
#project .project-video {
  width: 100%;
  max-height: 270px;
  background-color: black;
}
